.secao-responsabilidade {
    background: url("../assets/eletricista.png") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    gap: 30px;
    padding: 0 20px;
}

.secao-responsabilidade-imagem {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.secao-responsabilidade-imagem img {
    width: 400px;
}

.secao-responsabilidade-conteudo {
    width: 600px;
}

.secao-responsabilidade-conteudo h3{
    color: #FFF;
    font-size: 35px;
    text-transform: uppercase;
}

.secao-responsabilidade-conteudo p {
    margin-top: 20px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {

    .secao-responsabilidade {
        flex-direction: column;
        align-items: center;
    }

    .secao-responsabilidade-imagem  {
        display: none;
    }

    .secao-responsabilidade-conteudo {
        width: 300px;
    }

    .secao-responsabilidade-conteudo h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 768px) and (max-width: 960px) {
    

    .secao-responsabilidade-conteudo {
        width: 385px;
    }

    .secao-responsabilidade-imagem img {
        width: 350px;
    }

    .secao-responsabilidade-conteudo h3 {
        font-size: 31px;
    }
}