.banner {
    background: url("../assets/banner.png") center top no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    width: 100%;
    padding: 0 20px;
}

.secao-banner {
    width: 700px;
}

.espaco {
    width: 100px;
    align-self: center;
}

.banner h2 {
    color: #FFF;
    font-size: 38px;
    text-transform: uppercase;
}

.banner p {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

.secao-banner button {
    margin-top: 20px;
}

.destaque-amarelo {
    color: #FEDD0C;
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    .banner h2 {
        margin-top: 25px;
    }
}

@media screen and (max-width:768px) {
    .banner {
        background: url("../assets/banner-cel.png") center top;
        flex-direction: column;
        align-items: center;
    }

    .banner h2{
        font-size: 30px;
    }

    .banner p {
        font-size: 18px;
    }

    .banner button {
        margin-top: 30vh;
    }

    .secao-banner {
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .banner {
        background-image: url("../assets/banner-tablet.png");
        justify-content: space-around;
    }

    .banner h2 {
        font-size: 31px;
    }

    .banner p {
        font-size: 18px;
    }

    .secao-banner {
        width: 680px;
    }

    .espaco {
        display: none;
    }
}


